# KiCAD
pcb/**/*.000
pcb/**/*.bak
pcb/**/*.bck
pcb/**/*.kicad_pcb-bak
pcb/**/*.sch-bak
pcb/**/*~
pcb/**/_autosave-*
pcb/**/*.tmp
pcb/**/*-save.pro
pcb/**/*-save.kicad_pcb
pcb/**/fp-info-cache
pcb/**/*.net
pcb/**/*.dsn
pcb/**/*.ses
pcb/**/*.xml
pcb/**/*.csv
pcb/**/*-backups
pcb/**/#auto_saved_files#
